.h100 {
  height: 100%;
}
.bgrWhite {
  background: white;
}
.headerColor {
  //--background: #424c64;
  --background: linear-gradient(to right, #71db99, #56c5f0);
}

.gradien {
  --color: linear-gradient(to right, #71db99, #56c5f0);
}
.bthHeaderColor {
  --color: white;
}
