<body class="h100 bgrWhite" fullscreen="false">
<ion-header>
  <ion-toolbar color="secondary">

  <ion-buttons slot="start">
    <ion-button (click)="redirectToLoginPage('/login')">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>

    <ion-title style="text-align: center;">Регистрация</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-grid class="h100">
  <ion-row class="h100" style="width: 85%; margin: auto">
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="h100">

    </ion-col>
  </ion-row>
</ion-grid>
</body>
