.loginBackground {
  background-image: url("../../../resources/login_teal.jpg");
  background-size: cover;
}
.h100 {
  height: 100%;
}
ion-item {
  --background: transparent;
  --border-style: none;
  --highlight-color-focused: transparent;
}

ion-button {
  --background-activated: transparent;
  --background-focused: transparent;
  --border-color: white;
  --color: white;
}
