<ion-content class="h100 loginBackground" [scrollY]="false">
<ion-grid>
  <ion-row  style="width: 85%; margin: auto">
    <ion-col>
      <div style="margin-top: 20%; margin-bottom: -5%">
        <ion-thumbnail style="margin: auto;">
          <img src="../../assets/image/drop.png">
        </ion-thumbnail>
      </div>
        <div text-center style="height: 20%;">
          <ion-text color="light">
            <h1 style="font-size: 50px; margin-bottom: 0"><span style="color:#63d0c5">Glu</span>DROP</h1>
            <p style="font-size: 15px; margin-top: 0; color: white">Ваш незаменимый помощник</p>
          </ion-text>
        </div>
      <div style=" margin-top: 5%;">
        <ion-input placeholder="Email" type="Email" text-center ></ion-input>
        <ion-input placeholder="Пароль" type="password" text-center></ion-input>
      </div>
      <div text-center style="margin:5% auto 0; padding-bottom: 10px">
        <ion-button expand="block" fill="outline" size="large" class="gradien">
          <ion-ripple-effect></ion-ripple-effect>
          Войти
        </ion-button>
      </div>
      <div *ngIf="noBlur" text-center no-padding>
        <ion-text color="light" style="font-size: 10px; font-weight: lighter">
          <ion-button fill="clear" size="small" style="text-transform: none;">
            Забыли пароль?
          </ion-button>
        </ion-text>
      </div>
      <div *ngIf="noBlur" text-center style="width: 80%;  margin: 10% auto;" >
        <ion-button fill="clear" size="small" style="text-transform: none;" (click)="redirectToRegistrationPage('/registration')">
          Еще нет аккаунта? Создать
        </ion-button>
        <ion-text color="light" style="font-size: 10px; font-weight: lighter">
          <p>Регистрируясь, вы даете согласине на обработку персональных данных</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
