<div class="loginBackground" style="height: 100%">
    <ion-header>
    </ion-header>
    <div style="height: 18%">
    </div>

    <ion-text class="tealColor textPositionCenter">
        <h1>DiaControl</h1>
        <p style="font-weight: lighter; font-size: 12px;">Ваш незаменимый помощник</p>
    </ion-text>
    <div style="height: 16%">
    </div>
    <div style="width: 90%; margin: auto">
    <ion-item color="transparent" style="font-size: 15px; font-weight: lighter; height: 50px;">
        <ion-label position="floating" color="light" margin-top="0">Email</ion-label>
        <ion-input color="light" type="email"></ion-input>
    </ion-item>
        <hr style=" border-bottom: 1px solid white; height: 25px; margin-bottom: -10px; margin-right: 10px; margin-left: 10px">

    <ion-item color="transparent" style="font-size: 15px; font-weight: lighter; height: 50px;" >
        <ion-label position="floating" color="light" margin-top="0">Пароль</ion-label>
        <ion-input color="light" type="password"></ion-input>
        <!--<ion-button slot="end" color="light" fill="clear" padding="0" align="right">-->
            <!--Забыли?-->
        <!--</ion-button>-->
    </ion-item>
    </div>
    <div style="height: 4%">
    </div>
    <div>
        <ion-button expand="block" fill="outline" padding="0 10px 0" class="ion-buttonStyle">
            <ion-ripple-effect></ion-ripple-effect>
            Войти
        </ion-button>
    </div>
    <div style="width: 70%; margin: auto">
        <ion-text class="textPositionCenter" color="light" >
            <p style="font-weight: bold; font-size: 12px; cursor: pointer">Еще нет аккаунта? Создать</p>
            <p style="font-weight: lighter; font-size: 10px;">Регистрируясь, вы даете согласие на обработку персональных данных</p>
        </ion-text>
    </div>
</div>