.loginBackground {
  background-image: url("~resources/login3.png");
  background-size: cover;
}

.tealColor {
  color: #008080;
}

.textPositionCenter {
  text-align: center;
}
ion-item {
  --border-style: none;
}

.ion-buttonStyle {
  --background-activated: transparent;
  --background-focused: transparent;
  --color: white;
  --border-color: white;
}
