@import url('https://fonts.googleapis.com/css?family=Catamaran:900');
* {
  font-family: 'Catamaran', sans-serif;
}
.loginBackground {
  --background: #424c64;
}

.h100 {
  height: 100%;
}
ion-item {
  --background: transparent;
  --border-style: none;
  --highlight-color-focused: transparent;
}

ion-button {
  --background-activated: transparent;
  --background-focused: transparent;
  --border-color: white;
  --color: white;
  --color-activated: white;
  --border-radius: 25px;

}

.gradien {
  --background: linear-gradient(to right, #71db99, #56c5f0);
}
ion-input {
  --placeholder-color: #657A86;
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  height: 70%;
  margin-top: 5%;
  --color: #63d0c5
}

img {
  height: auto;
  width: 100%;
}
ion-thumbnail {
  --size: 20%;
}
