<ion-content class="backgroundDiaControl">
    <div class="row">
        <div class="col-sm-12 text-right text-white">
            <div padding style="font-weight: lighter">
                <p>Отменить</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ion-item class="text-center text-white backgroundDiaControl">
                <div style="margin: auto">
                    <ion-datetime displayFormat="DD.MMMM.YYYY HH:mm" pickerFormat="DDD.MMMM HH:mm" value="{{dateNow}}"
                                  [monthNames]="monthNames" style="margin: auto; float: left;"></ion-datetime>
                    <ion-label style="flex: unset; margin: 10px 10px; display: inline-block">
                        <ion-icon name="create" [mode]="'md'"></ion-icon>
                    </ion-label>
                </div>
            </ion-item>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ion-slides style="right: 15px; padding-bottom: 10px;" [options]="slidesOpts">
                <ion-slide>
                    <div>
                        <ion-img [src]="'../../../assets/image/glucose.png'"></ion-img>
                        <p class="text-white sideText">Сахар</p>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <ion-img [src]="'../../../assets/image/bread.png'"></ion-img>
                        <p class="text-white sideText">Еда</p>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <ion-img [src]="'../../../assets/image/syringe.png'"></ion-img>
                        <p class="text-white sideText">Короткий инсулин</p>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <ion-img [src]="'../../../assets/image/syringe2.png'"></ion-img>
                        <p class="text-white sideText">Длинный инсулин</p>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <ion-img [src]="'../../../assets/image/comments.png'"></ion-img>
                        <p class="text-white sideText">Комментарий</p>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="col-sm-12 text-white text-center" style="font-size: 30px; margin-top: 10%">
            {{valueInt}}.{{valueFloat}} <span style="font-size: 25px">ммоль/л</span>
        </div>
        <div class="col-sm-12">
            <ion-item class="backgroundDiaControl">
                <ion-range color="secondary" snaps="true" min="0" max="20" step="1"
                           (ionChange)="rangeChangeInt($event)">
                    <ion-label slot="start" class="text-white">0</ion-label>
                    <ion-label slot="end" class="text-white">20+</ion-label>
                </ion-range>
            </ion-item>
            <ion-item class="backgroundDiaControl">
                <ion-range color="secondary" snaps="true" min="0" max="9" step="1"
                           (ionChange)="rangeChangeFloat($event)">
                    <ion-label slot="start" class="text-white">0</ion-label>
                    <ion-label slot="end" class="text-white">0.9</ion-label>
                </ion-range>
            </ion-item>
        </div>
    </div>
    <div class="row" class="fab-button-bottom">
        <div class="col-sm-12" style="height: 100px;">
            <ion-fab vertical="center" horizontal="center" slot="fixed" style="left: 45%;">
                <ion-fab-button style="width: 80px; height: 80px">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-fab-button>
            </ion-fab>
            <ion-fab vertical="center" horizontal="end" slot="fixed" style="left: 65%; top: 60%">
                <ion-fab-button>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>
</ion-content>
