// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './assets/bootstrap/bootstrap.css';
@import './assets/bootstrap/bootstrap-grid.css';
@import './assets/bootstrap/bootstrap-grid.min.css';
@import './assets/bootstrap/bootstrap.min.css';
@import './assets/bootstrap/bootstrap-reboot.css';
@import './assets/bootstrap/bootstrap-reboot.min.css';

.backgroundDiaControl {
  --background: #424c64;
  background: #424c64;
}
.whiteBackground {
  --background: white;
}
.gradientBackground{
  --background: var(--ion-color-diaControl-gradient);
}

.noBackground {
  --background: unset;
}

ion-button {
  --background-activated: transparent;
  --background-focused: transparent;
  --border-color: white;
  --color: white;
  --color-activated: white;
  --border-radius: 25px;
}
